
streamlit
easyocr
opencv-python-headless
pandas
pillow
numpy
cloudinary
thefuzz
opencv-python-headless
psycopg2-binary
sqlalchemy
openai
colorgram.py
requests
extcolors
google-generativeai
google-generativeai>=0.7.2




